.wrapper{
    min-height: 100%;

    display: grid;
    grid-template-rows: 160px 1fr 160px;
    grid-template-columns: 15vh 1fr 15vh;

    background: #eee;
}

header{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 60px;

    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 100;
    color: rgb(173, 171, 171);
}

.table{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}


/*------------------------*/

.confirm_container{
    margin: 0 auto;
    width: 110px;
    max-width: 110px;

    overflow: hidden;
    color: red;

    border: 2px solid #999;
    border-radius: 24px;

    transition: max-width ease 0.5s;
}

.confirm_container_confirmed{
    max-width: 96px;
}

.confirm_content, .confirm_content::selection{
    display: flex;
    flex-direction: row;

    height: 28px;
    line-height: 28px;
    text-align: center;

    padding: 0 8px;
    margin-left: -66px;
    background-color: crimson;
    color: white;
    text-decoration: none;

    transition: margin-left ease 0.5s, background-color ease 0.5s;
}

.confirm_content_pending{
    background-color: rgb(255, 151, 91);
}

.confirm_content_confirmed{
    margin-left: 0px;
    background-color: lightgreen;
    color: darkcyan;
}

.confirm_blob{
    min-width: 18px;
    height: 18px;
    align-self: center;
    margin: 0 6px;
    border-radius: 10px;
    border: 2px solid ;
}